* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main-container {
  margin-bottom: 20px;
}

#input,
#btn {
  transition: 0.3s;
  font-size: 30px;
  border: none;
  box-shadow: 0 1px 5px;
  padding: 10px;
  border-radius: 10px;
}

#btn {
  box-shadow: 0 1px 5px red;
}

#btn:hover {
  transform: scale(1.2);
}

.resultado {
  font-size: 30px;
  font-weight: 100;
  color: #333;
  margin-top: 60px;
}

.title {
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 1250px) {
  #input{
    width: 90%;
    margin: auto;
  }
  #btn {
    width: 50%;
    margin: auto;
    margin-top: 10px;
  }
  .main-container{
    display: flex;
    flex-direction: column;
  }
  .resultado{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    width: 99%;
  }
  .title{
    margin-bottom: 100px;
    text-align: center;
    font-size: 17px;
  }
}